
* {
  box-sizing: border-box;
}
/*Place <box-sizing: inherit;> inside the selector*/

body {
  font-family: "Roboto Condensed", sans-serif;
  background-color: #C4D7ED;
  color: #2C3E50;
}

header {
  text-align: center;
  padding: 10px 0;
  width: 300px;
  float: left;
  display:block;
  background-color: #2C3E50;
  color: #D7DADB;
  border-bottom-right-radius: 10px;
  margin-right: 20px;
  margin-bottom: 10px;

}

h1, h2, th {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

h2 {
  padding-top: 10px;
}

main>h2 {
  background-color: #D7DADB;
}

main>p {
  background-color: #D7DADB;
  padding-bottom: 10px;
}

table {
  margin-top: 20px;
  border: 2px solid #2C3E50;
  border-radius: 5px;
  margin: 20px auto 20px auto;
  border-collapse: collapse;
  box-shadow: 0 0 10px #777777;
}

table th{
  text-align: left;
  padding: 1px 5px;
}

table td {
  text-align: center;
}

tr:nth-child(odd) {
  background-color: #6DBCDB;
}

tr:nth-child(even) {
  background-color: #D7DADB;
}

table td:hover {
  background-color: #FC4349;
}

fieldset{
  border: 1px solid #2C3E50;
  border-radius: 5px;
  width: 300px;
  margin: 0 auto;
  padding: 10px;
  background-color: #6DBCDB;
}

fieldset h2 {
  padding: 0;
  text-align: center;
}

fieldset p {
  margin-top: 10px;
  margin-bottom: 5px;
}

fieldset label {
  display:inline-block;
  width: 300px;
  text-align: right;
  padding-right: 10px;
}

fieldset input {
  display:inline-block;
  height:18px;
}

form {
  width:600px;
}

input {
  background-color: #D7DADB;
  border-radius: 7px;
}

#submit {
  background-color: #D7DADB;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
}

#submit:hover {
  background-color: #FC4349;
}
