body {
  font-family: "Roboto Condensed", sans-serif;
  color: #193441;
  background: url("TopPotLogoOpt.jpg") no-repeat center bottom;
}

header {
  text-align: center;
  padding: 1% 0;
  width: 25%;
  display:block;
  background-color: #193441;
  color: #D1DBBD;
  border-bottom-right-radius: 10px;
  margin-right: 20px;
  position: fixed;
}

/*Used Clearfix hack from https://css-tricks.com/snippets/css/clear-fix/*/
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix { 
  display: inline-block;
}

h1, h2, th {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 24pt;
}

h2 {
  padding-top: 10px;
  font-size: 16pt;
}

.welcome {
  background-color: #91AA9D;
  padding: 0 10px 10px 10px;
  position: relative;
  left: 25%;
  width: 75%;
  border-bottom-left-radius: 10px;
}

table {
  margin: 100px 20px 20px 20px;
  border: 2px solid #193441;
  border-collapse: separate;
  border-radius: 6px;
  box-shadow: 0 0 10px #91AA9D;
  float: left;
}

table th{
  text-align: left;
  padding: 3px 5px;
}

table td {
  text-align: center;
}

tr:nth-child(odd) {
  background-color: #D1DBBD;
}

tr:nth-child(even) {
  background-color: #FCFFF5;
}

table td:hover {
  background-color: #3E606F;
  color: #FCFFF5;
}

fieldset{
  border: 1px solid #193441;
  border-radius: 5px;
  width: 85px;
  padding: 10px;
  background-color: #D1DBBD;
  box-shadow: 0 0 10px #91AA9D;
  float: left;
  margin-top: 100px;
}

fieldset h2 {
  padding: 0;
  text-align: center;
}

fieldset p {
  margin-top: 10px;
  margin-bottom: 5px;
}

fieldset label {
  display: block;
  width: 130px;
  text-align: right;
}

fieldset input {
  display: block;
  height: 18px;
}

input {
  background-color: #FCFFF5;
  border-radius: 7px;
}

#submit {
  background-color: #FCFFF5;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  display: block;
  margin-left: 82px;
}

#submit:hover {
  background-color: #3E606F;
  color: #FCFFF5;
}

footer {
  position: absolute;
  bottom: 0px;
  font-size: 10pt;
  z-index: -1;
}
